In [2]:
import pandas as pd
df = pd.read_csv("C:/Users/user/Desktop/Project_Datasets/insurance_dataset.csv")
df.head(2)

   age     sex    bmi  children smoker     region     charges
0   19  female  27.90         0    yes  southwest  16884.9240
1   18    male  33.77         1     no  southeast   1725.5523